<!-- 
  <footer>
    <div class="container">
      <hr />
      <p class="text-center">Copyright © Ticket 2014. All rights reserved.</p>
    </div>
  </footer> -->

  <!-- Jquery and Bootstrap Script files -->
<!--   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
//   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
//   <script src="/js/script.js"></script>
// </body>

// </html>
 -->

     <!-- Footer -->
    <footer>
      <div class="container text-center">
        <ul class="list-inline">
          <li>
            <a href="pages/ticket_privacy.html" target="_blank"><i>Privacy Policy</i></a>
          </li>
          <li>
            <a href="pages/ticket_terms.html" target="_blank"><i>Terms of Service</i></a>
          </li>
        </ul>
        <p>Copyright &copy; FrontPass 2014</p>
      </div>
    </footer>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/ticket-main.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/script.js"></script>
  </body>
</html>