<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FrontPass</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/ticket-main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom Font -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- This file uses Grayscale template from Start Bootstrap -->
  
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <span class="light">FrontPass</span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#ticket">Ticket</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#details">Details</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
            <li>
              <a id="cn" href="../cn"></a>
            </li>
            <li>
              <a id="eng" href="../"></a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    
    <!-- Intro Header -->
    <header class="intro" style="background: url('../resources/1.jpg'); background-size: cover; background-position: center; color: #eee;">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- <img src="../resources/logotemp1.png"> -->
              <p class="intro-text">Movie Tickets on Sale！<br>Purchase AMC Gold Movie Tickets Here! Only $10<del>(Original Price $15)</del></p>
              <a href="#ticket" class="btn btn-circle page-scroll" style="color: #eee; border-color: #eee;">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- Ticket Section -->
    <section id="ticket" class="content-section">
      <div class="ticket-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Buy Now</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
              <form method="post" action="/order">
                <div class="dropdown">
                  {{#if error}}
                  <div class="alert alert-danger" role="alert">{{{error}}}</div>
                  {{/if}}
                  {{#if success}}
                  <div class="alert alert-success" role="alert">{{{success}}}</div>
                  {{/if}}
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  1 Ticket - $10 USD
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" value="1">1 Ticket - $10 USD</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" value="2">2 Ticket - $20 USD</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" value="3">3 Ticket - $30 USD</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" value="4">4 Ticket - $40 USD</a>
                    </li>
                  </ul>
                </div>
                <br>
                <div class="input-group margin-bottom-sm" id="email-parent">
                  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                  <input class="form-control" type="email" placeholder="Email address" id="email" name="email" required>
                </div>
                <br>
                <div class="input-group margin-bottom-sm no-error" id="confemail-parent">
                  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                  <input class="form-control" type="email" placeholder="Confirm Email" oninput="check(this);" id="confemail" required>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col-lg-8 col-lg-offset-2">
                    <input type="hidden" name="quantity" value="1" id="quantity">
                    <button type="submit" class="paypal-button btn btn-default" id="buy-btn">Buy Now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About Section -->
    <section id="about" class="container content-section">
      <div class="container">
        <div class="row row-eq-height">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center">Buying Guide</h2>
          </div>
        </div>
        <div class="row features">
          <div class="col-md-3 col-sm-6">
            <i class="fa fa-paper-plane-o fa-2x"></i>
            <h3>Fast and Convenient</h3>
            <p>
              Tickets in PDF format will be instantly available in your email. All you need to do is print it out and use it in any of the AMC Theatre locations nation-wide.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <i class="fa fa-usd fa-2x"></i>
            <h3>More Ways to Pay</h3>
            <p>
              Support all major credit cards (Visa, MasterCard, Discovery, American Express) or Paypal
            </p>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-3 col-sm-6">
            <i class="fa fa-envelope-o fa-2x"></i>
            <h3>Never Lose Your Tickets</h3>
            <p>
              Your e-ticket will be emailed to you. You can always retrieve it from your email address.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <i class="fa fa-clock-o fa-2x"></i>
            <h3>Tickets Never Expire</h3>
            <p>
              AMC Gold Experience Ticket never expires
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Details Section -->
    <section id="details" class="content-section">
      <div class="ticket-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center">Note</h2>
            <ul class="list-group">
              <li class="list-group-item">
                E-ticket must be printed and presented at the ticketing counter at AMC theatres. It cannot be shown by displaying it on mobile devices.
              </li>
              <li class="list-group-item">
                3D, IMAX, and ETC require extra surcharges
              </li>
              <li class="list-group-item">
                AMC Gold Experience Ticket doesn't support AMC Stubs program
              </li>
              <li class="list-group-item">
                Please refer to AMC Gold Experience Ticket Terms on <a href="https://www.amctheatres.com/gold-silver-tickets-terms" target="_blank">AMC website</a>
              </li>
            </ul>
            <p>
              For more detailed AMC Gold Experience Ticket terms, please click here.
            </p>
            <div class="text-center">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#ticket_info">
              More Info
              </button>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="ticket_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Terms</h4>
                  </div>
                  <div class="modal-body">
                    <div id="product-tab1" class="tab ui-tabs-panel ui-widget-content ui-corner-bottom" tabindex="-1" aria-labelledby="ui-id-3" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                      <p>
                        <span style="font-weight:bold;">Valid at all Loews Cineplex and AMC Theatres® &nbsp;&nbsp;</span><br><br>AMC Gold e-tickets (unrestricted) are good at any AMC®, AMC Showplace, Loews®, Cineplex Odeon, Magic Johnson and Star theatres, excluding Canadian theatres. Perfect for date night, holiday gifts, employee incentives &amp; rewards.<br><br>
                      </p>
                      
                      <span style="font-weight:bold;">Features:</span><br>
                      <ul>
                        <li>Good at any AMC®, AMC Showplace, Loews®, Cineplex Odeon, Magic Johnson and Star theatres, excluding Canadian theatres &nbsp;</li><li>Valid seven days a week &nbsp;</li><li>Valid with other coupon offers &nbsp;</li><li>No expiration date </li><br></ul><span style="font-weight:bold;">How to Redeem:</span><br><ul><li>Present printed e-ticket at any AMC®, AMC Showplace, Loews®, Cineplex Odeon, Magic Johnson or Star theatres office at time of payment </li><li>AMC e-tickets contain a unique barcode valid for ONE ENTRY ONLY to the theatre</li><li>AMC e-tickets become INVALID once scanned and may not be re-used</li><li>Mobile devices may not be presented for your AMC e-ticket redemption</li><br>
                      </ul>
                      <span style="font-weight:bold;">AMC Terms &amp; Conditions:</span><br>
                      <ul>
                        <li>The AMC Gold e-ticket is valid for one admission and redeemable at any AMC, AMC Loews, AMC Showplace, Cineplex Odeon, Magic Johnson and Star Theatres, excluding Canadian theatres</li><li>Programs subject to a surcharge: 3D, IMAX and AMC ETX, alternate content, AMC Dine-In Theatres and premium services</li><li>Locations surcharges may also be applied at select theatres</li><li>AMC reserves the right to change any surcharge fee without notice</li><li>Unauthorized reproductions not allowed</li><li>AMC gold e-tickets are discount items that are NOT eligible toward earning AMC stubs rewards, either at the time of purchase OR at time of redemption</li><li>Valid seven days a week</li><li>Please visit amctheatres.com for additional information</li><br>
                      </ul>
                      For a complete listing of applicable surcharges, including theatre locations subject to surcharge, please visit: amctheatres.com/gold-silver-tickets-terms
                      <p></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Contact Us</h2>
          <p>If you did not receive an email, or encountered any problem, please contact us through email</p>
          <p><a href="mailto:info@frontpass.net">info@frontpass.net</a></p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://twitter.com/frontpass" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
    </section>
  
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <ul class="list-inline">
        <li>
          <a href="pages/ticket_privacy.html" target="_blank"><i>Privacy Policy</i></a>
        </li>
        <li>
          <a href="pages/ticket_terms.html" target="_blank"><i>Terms of Service</i></a>
        </li>
      </ul>
      <p>Copyright &copy; FrontPass 2014</p>
    </div>
  </footer>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="js/ticket-main.js"></script>
  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="js/script.js"></script>
</body>
</html>