body {
  	margin-top: 57px;
}

footer {
	background-color: #444;
	color: #777;
}

footer a:hover {
	color: #219ab3;
}

nav.navbar {
	background-color: #fff;
}

nav.top-nav-collapse {
	background-color: #ccc;
}

#cn {
	height: 40px;
	width: 40px; 
	border-radius: 20px; 
	background-image: url('../resources/China.png'); 
	background-size: cover; 
	border: none; 
	margin: 5px;
}

#eng {
	height: 40px;
	width: 40px; 
	border-radius: 20px; 
	background-image: url('../resources/US.png'); 
	background-size: cover; 
	border: none; 
	margin: 5px;
}

#about, #contact {
	background-color: #99DCE9;
}

@media (max-width: 768px) {
	#cn, #eng {
		margin-left: 15px;
	}

	.navbar-header {
		background-color: #ccc;
	}

	.navbar-collapse {
		background-color: #eee;
	}

	.navbar-collapse ul li:hover {
		background-color: #aaa;
	}
}